// basic reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // inherit from body
}

html {
  // making 1 rem as 10px; 10px/16px = 0.625
  font-size: 62.5%;
  
  // setting core root default
  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  font-size: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}