@use '../abstracts';
@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700&display=swap');

body {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: abstracts.$base-font-size;
  color: map-get(abstracts.$colors, "font");
  background-color: map-get(abstracts.$colors, "bg");
  line-height: 1.7;
}
